<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dominique.barcode">

    <uses-sdk android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.support.multidex.MultiDexApplication"/>

    <application android:label="@string/app_name">

        <activity
            android:name=".WatchToGlass"
            android:label="@string/app_name"
            android:largeHeap="true">


        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>

        <service android:name=".ReceiveFromWatch">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*"
                    android:path="/path" />
            </intent-filter>
        </service>

    </application>

</manifest>